@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    width: 100%;
    background-color: black;
}

body video {
    width: 100%;
}

header {
    z-index: 1;
}

nav {
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin-left: 15vh;
    margin-right: 15vh;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 8vh;
    margin-left: 8vh;
    color: white;
}

.opcoes ul{
    display: inline-flex;
    gap: 30px;
    list-style: none;
}

.opcoes a {
    text-decoration: none;
    color: white;
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 17px;
    font-weight: 400;
}

.opcoes a:hover {
    letter-spacing: 1.5px;
    font-size: 19px; 
}

.redes {
    align-items: center;
    display: inline-flex;
    gap: 40px;
}

.redes img {
    width: 30px;
    border-radius: 300px;
}

.redes a {
    transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.redes a:hover {
    transform: scale(1.40, 1.40);
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.principal {
    width: 100%;
    height: 100%;
}

.logo-video{
    text-align: center;
    width: 100%;
    height: 90vh;
}

.logo-video img {
    margin-top: 25vh;
    width: 40vh;
    opacity: 0.55;
}

.background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

footer {
    text-align: center;
    background: rgb(0,0,0);
}

.titulo {
    color: white;
    font-size: 10px;
    margin-bottom: 3vh;
}

.image {
    display: inline-flex;
    gap: 10vh;
    color: white;
    margin-bottom: 20px;
}

.image p {
    font-weight: 400;
    font-size: 2.7vh;
    margin-bottom: 5px;
}

.memoji {
    width: 18.5vh;
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.memoji:hover {
    transform: scale(1.10, 1.10);
}

.image a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    font-size: 39px;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.image a:hover {
    font-size: 45px;
    letter-spacing: 2.4px;
    color: #0e76a8;
}